.tasks {
    padding: 1em;
    display: grid;
    gap: 2em;
}

.taskForm {
    margin: 1em;
}

.taskFormTime {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1em;
}

.addTaskForm {
    margin-top: 1em;
}

.addTask {
    padding: 1em;
}

.reminder {
    display: grid;
    grid-template-columns: 2fr 1fr;
    align-items: center;

}

.addTaskButtons {
    display: grid;
    gap: 1em;
    grid-template-columns: 2fr 1fr 1fr;
}

.task {
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
    border-radius: 1em;
    padding: 1em;
    gap: 1em;
    cursor: pointer;
}

.taskLess {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.taskLessInfo {
    text-align: right;
}

.taskEditButtons {
    display: grid;
    gap: 1em;
    grid-template-columns: 1fr 1fr;
}

.task-expanded {
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
    padding: 1em;
    cursor: pointer;
}

.task-edit {
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
    border-radius: 1em;
    padding: 1em;
    cursor: pointer;
}

.hideLable {
    display: none;
}